@import "colors/_colors.scss";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  display: flex;
  flex-wrap: nowrap;
  margin: 0px;
  padding: 0px;
}
.header {
  display: flex;
  background-color: $header-bg-color;
  color: white;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.sbadmin {
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 25px;
}
@mixin settings {
  display: flex;
}
.dashboard {
  @include settings;
}
hr {
  width: 210px;
  color: white;
  height: 0px;
  border-top: 1px;
  border-color: rgba(255,255,255,.15);
}
.interface {
  @include settings;
}

.component {
  @include settings;
}

.utilities {
  @include settings;
}
@mixin searchbar {
  border: 0;
}
.input {
  @include searchbar;
  height: 28px;
  margin-left: 15px;
  margin-right: 0;
  padding-right: 0;
  background-color: #f8f9fc;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.search {
  @include searchbar;
  height: 30px;
  width: 30px;
  background-color: $sidebar-bg-color;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 0;
  margin-left: -4px;
}
.fa-bell, .fa-envelope {
  color: #d1d3e2;
}
.headersearch {
  margin: 0;
  padding: 0;
}
.notifications {
  margin-right:25px;
}
.fa-envelope {
  margin: 25px;
}
@mixin badger {
  position: absolute;
  background: #e74a3b;
  padding-top: 3px;
  padding-bottom: 3px;
  top:15px;
  width:10px;
  text-align: center;
  justify-content: center;
  line-height: 5px;
  font-size: 5px;
  border-radius: 20%;
  color:white;

}
.badge0:after{
  content:"3";
  right:50px;
  @include badger;
}
.badge:after{
  content:"7";
  right:95px;
  @include badger;
}

/* Mobile Styles */
@media only screen and (max-width: 515px) {
  .sidebar {
    display: flex;
    box-sizing: border-box;
    flex-flow: wrap;
    align-items: center;
    background-color: $sidebar-bg-color;
    color: $sidebar-main-front-color;
    width: 100px;
    height: 100vh;

  }
  .dashboard {
    width: 100px;
    height: 3vh;
    flex-flow: wrap;
    justify-content: center;


  }
  .interface {
    width: 100px;
    justify-content: center;
  }

  .addons {
    width: 100px;
    justify-content: center;
    text-align: center;
  }

  .tables, .charts, .pages, .utilities {
    width: 100px;
    flex-flow: wrap;
    justify-items: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

  .component {
    width: 100px;
    flex-flow: wrap;
    justify-items: center;
    flex-direction: column;
    margin-left: 2px;
    margin-right: 10px;
    text-align: center;
  }
  .fa-screwdriver, .fa-cog, .fa-tachometer-alt, .fa-smile-wink, .fa-folder, .fa-chart-bar, .fa-table {
    margin-right: 30px;
    margin-left: 30px;
  }
.sbadmin {
  flex-flow:wrap;
  width: 100px;
  justify-content: center;
  height: 5vh;
}
.hideadmin {
  display: none;
}
.fa-angle-right {
  visibility: hidden;
}
.headersearch {
  display: none;
}
.fa-bars {
  color:$sidebar-bg-color;
  margin-left: 25px;
}
.fa-search {
  color:#d1d3e2;
  margin-left:25px;
}
  .collapsible {
    background-color: $sidebar-bg-color;
    color: white;
    cursor: pointer;
    width: 30px;

    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  .content {

    width: 200px;
    height: 80px;
    display: none;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    color: black;
    margin: 0;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .sidebar {
    display: flex;
    box-sizing: border-box;
    flex-flow: column;
    align-items: center;
    background-color: $sidebar-bg-color;
    color: $sidebar-main-front-color;
    width: 250px;
    height: 100vh;

  }
 .sbadmin {
    justify-content: space-between;
    height: 10vh;
    padding-left: 5px;

  }
  .headerminisearch {
    display:none;
  }

  .addons, .pages, .charts, .tables, .utilities, .interface, .dashboard {
    width: 250px;
    height: 6vh;
    padding-left: 45px;
    justify-items: left;
    justify-content: left;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

.component {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  min-height: 6vh;
  padding-left: 32px;
  justify-items: left;
  justify-content: left;
  align-items: center;
  margin-top: 4px;
}
 .spancomponent {
    padding-right: 90px;
  }

  .spamcomponentutilities {
    padding-right: 120px;
  }
  .spamcomponentpages {
    padding-right: 130px;
  }
  .fa-screwdriver, .fa-cog, .fa-tachometer-alt, .fa-smile-wink, .fa-folder, .fa-chart-bar, .fa-table {
    margin-right: 8px;

  }
  .collapsible {
    background-color: $sidebar-bg-color;
    color: white;
    cursor: pointer;


    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active, .collapsible:hover {
    background-color: $sidebar-bg-color;
  }

  .content {

    width: 200px;
    height: 80px;
    display: none;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    color: black;
    margin: 0;
  }
  .indiv {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 0;
    margin-right: 0;
  }

}
