@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  background-color: #ffffff;
  color: white;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.sbadmin {
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 25px;
}

.dashboard {
  display: flex;
}

hr {
  width: 210px;
  color: white;
  height: 0px;
  border-top: 1px;
  border-color: rgba(255, 255, 255, 0.15);
}

.interface {
  display: flex;
}

.component {
  display: flex;
}

.utilities {
  display: flex;
}

.input {
  border: 0;
  height: 28px;
  margin-left: 15px;
  margin-right: 0;
  padding-right: 0;
  background-color: #f8f9fc;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  margin-left:-400px;
  color: #828282;
}

.search {
  border: 0;
  height: 30px;
  width: 30px;
  background-color: #4e73df;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 0;
  margin-left: -4px;
}

.fa-bell, .fa-envelope {
  color: #d1d3e2;
}

.headersearch {
  margin: 0;
  padding: 0;
}

.notifications {
  margin-right: 27px;
}

.fa-envelope {
  margin: 25px;
}

.badge0:after {
  content: "3";
  right: 50px;
  position: absolute;
  background: #e74a3b;
  padding-top: 1px;
  padding-bottom: 3px;
  top: 15px;
  width: 10px;
  text-align: center;
  justify-content: center;
  line-height: 5px;
  font-size: 5px;
  border-radius: 20%;
  color: white;
}

.badge1:after {
  content: "7";
  right: 95px;
  position: absolute;
  background: #e74a3b;
  padding-top: 1px;
  padding-bottom: 3px;
  top: 15px;
  width: 10px;
  text-align: center;
  justify-content: center;
  line-height: 5px;
  font-size: 5px;
  border-radius: 20%;
  color: white;
}

* {
  margin: 0;
}

.main-content {
  max-width: calc(100% - 250px);
}

.flex-container {
  flex-direction: column;
  display: flex;
  background-color: #F4F6F6;
  height: 200px;
}

.Dashboard_row {
  flex-direction: row;
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  align-content: stretch;
}

.Dashboard-item {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 4%;
  color: #5A5C69;
  width: 25%;
  height: 80px;
  background-color: #F4F6F6;
  font-style: normal;
  font-size: 30px;
  align-items: center;
}

.button {
  height: 40px;
  width: 170px;
  background-color: #4e73df;
  color: white;
  border-radius: 5px;
}

.button:hover {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.24), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
  color: white;
  background-color: #4e73df;
}

.button-dl {
  margin-top: 26px;
  margin-right: 4%;
}

.fa-download {
  margin-right: 10px;
}

.Report-button {
  margin-right: 4%;
  display: flex;
  justify-content: flex-end;
  width: 25%;
  height: 80px;
  background-color: #F4F6F6;
  font-style: normal;
  font-size: 30px;
  align-items: center;
}

.xtabs_row {
  display: flex;
  height: 100px;
  flex-direction: row;
  height: 100px;
  width: 100%;
  justify-content: space-evenly;
  font-variant: small-caps;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
}

.count {
  font-size: 20px;
  font-weight: bold;
  color: #5A5C69;
  margin-left: 20px;
}

.earnings-monthly-tab {
  display: flex;
  border-left: 2px solid #4e73df;
  border-radius: 5px;
  height: 96px;
  width: 22%;
  align-items: center;
  background-color: white;
  -webkit-box-shadow: 0px 0px 108px -42px black;
  -moz-box-shadow: 0px 0px 108px -42px black;
  box-shadow: 0px 0px 108px -42px black;
}

.e-m-input {
  color: #4e73df;
  margin-left: 20px;
}

.icon-earnings-m {
  color: LightGrey;
  font-size: 34px;
  margin-left: 40px;
}

.earnings-annual-tab {
  display: flex;
  border-left: 2px solid #1cc88a;
  height: 96px;
  width: 22%;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 108px -42px black;
  -moz-box-shadow: 0px 0px 108px -42px black;
  box-shadow: 0px 0px 108px -42px black;
}

.e-a-input {
  color: #1cc88a;
  margin-left: 20px;
}

.icon-earnings-a {
  color: LightGrey;
  font-size: 34px;
  margin-left: 60px;
}

.tasks-tab {
  display: flex;
  border-left: 2px solid #36b9cc;
  height: 96px;
  width: 22%;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 108px -42px black;
  -moz-box-shadow: 0px 0px 108px -42px black;
  box-shadow: 0px 0px 108px -42px black;
}

.tasks-input {

  color: #36b9cc;
  margin-left: 20px;
}

.prog-bar {

  background-color: lightgrey;
  border-radius:5px;
  height: 8px;
  width: 100px;
}
.prog-percent{
  border-radius: 5px;
  background-color: #36b9cc;
  height: 8px;
  width: 50%;
}


.icon-tasks {
  color: LightGrey;
  font-size: 34px;
  margin-left: 32px;
}

.pending-requests-tab {
  display: flex;
  border-left: 2px solid #f6c23e;
  height: 96px;
  width: 22%;
  align-items: center;
  border-radius: 5px;
  background-color: white;
}

.pending-req-input {
  color: #f6c23e;
  margin-left: 20px;
}

.icon-comments {
  color: LightGrey;
  font-size: 34px;
  margin-left: 40px;
}

.container-mago {
  background-color: #e8e8e8;
  width: 100%;
  padding: 0;
}

.container-mago-row {
  margin-top: 20px;
  width: 1250px;
  display: flex;
  justify-content: space-around;
}

.main-container-mago {
  display: flex;
  justify-content: space-around;
}

.footer-mago {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  color: #828282;
}

.box {
  border: 1px solid lightgrey;
  background-color: white;
}

.container-div {
  margin-left: -10px;
  display: flex;
  justify-content: space-around;
}

.Earnings {
  margin-left: 25px;
  border-radius: 8px;
  max-width: 652px;
  height: 357px;
  box-shadow: 5px 15px 15px #888888;
  background-color: white;
}

.Earnings-head {
  width: 650px;
  height: 35px;
  background-color: #F5F5F5;
}

.Earnings-head-box {
  margin-left: 20px;
  display: flex;
  color: #4e73df;
  font-family: courier;
  font-weight: bold;
}

.earnings-img {
  margin-left: 10px;
  width: 605px;
  height: 305px;
  background-color: white;
}

.Revenue {
  width: 325px;
  height: 358px;
  border-radius: 8px;
  margin-right: 15px;
  box-shadow: 5px 15px 15px #888888;
  background-color: white;
}

.Revenue-head {
  width: auto;
  background-color: #F5F5F5;
}

.Revenue-head-box {
  display: flex;
  margin-left: 20px;
  color: #4e73df;
  font-family: courier;
  font-weight: bold;
  height: 35px;
}

.revenue-img {
  margin-top: 25px;
  width: 325px;
  height: 260px;
}

.left-right-mago-div {
  display: flex;
  justify-content: space-around;
  margin-right: 220px;
}


.left-mago-div {
  display: flex;
  justify-content: space-around;
}

.left-mago {
  margin-left: 140px;
}

.Projects {
  margin-top: 30px;
  margin-left: 85px;
  width: 557px;
  height: 415px;
  box-shadow: 5px 15px 15px #888888;
  border-radius: 8px;
}

.Project-one-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-top: 15px;
}

.progress {
  margin-left: 15px;
  margin-right: 15px;
}

.pràg-bar-flex {
  margin-right: 15px;


}

.Projects-head {
  margin-left: 20px;
  display: flex;
  color: #4e73df;
  font-family: courier;
  font-weight: bold;
  height: 35px;
}

.Projects-header {
  background-color: #F5F5F5;
}

.Projects-body {
  background-color: white;
}

.Primary {
  margin-bottom: 40px;
  margin-top: 25px;
  margin-left: 55px;
}

.prim-text {
  margin-left: 15px;
}

.primary-one {
  width: 627px;
  height: 120px;
  flex-direction: row;
  margin-right: 10px;
  color: white;
  display: flex;
  justify-content: space-around;
}

.primary-two {
  width: 627px;
  height: 120px;
  flex-direction: row;
  margin-right: 10px;
  color: white;
  display: flex;
  justify-content: space-around;
}

.primary-three {
  width: 627px;
  height: 120px;
  flex-direction: row;
  margin-right: 10px;
  color: white;
  display: flex;
  justify-content: space-around;
}

.prim-one {
  width: 250px;
  border-radius: 8px;
  margin: 20px;
  display: flex;
  align-items: center;
  box-shadow: 5px 15px 15px #888888;
  background-color: #4e73df;
}

.prim-two {
  width: 250px;
  border-radius: 8px;
  margin: 20px;
  display: flex;
  align-items: center;
  box-shadow: 5px 15px 15px #888888;
  background-color: #1cc88a;
}

.prim-three {
  width: 250px;
  border-radius: 8px;
  margin: 20px;
  display: flex;
  align-items: center;
  box-shadow: 5px 15px 15px #888888;
  background-color: #36b9cc;
}

.prim-four {
  width: 250px;
  border-radius: 8px;
  margin: 20px;
  display: flex;
  align-items: center;
  box-shadow: 5px 15px 15px #888888;
  background-color: #e74a3b;
}

.prim-five {
  width: 250px;
  border-radius: 8px;
  margin: 20px;
  display: flex;
  align-items: center;
  box-shadow: 5px 15px 15px #888888;
  background-color: #858796;
}

.prim-six {
  width: 250px;
  border-radius: 8px;
  margin: 20px;
  display: flex;
  align-items: center;
  box-shadow: 5px 15px 15px #888888;
  background-color: #4e73df;
}

.right-mago-div {
  display: flex;
  justify-content: space-around;
}

.right-mago {
  width: 100%;
}

.Illustrations {
  margin-top: 30px;
  border-radius: 8px;
  width: 420px;
  height: 475px;
  box-shadow: 5px 15px 15px #888888;
}

.Illustrations-head {
  background-color: #F5F5F5;
  color: #4e73df;
}

.Illustrations-head-box {
  margin-left: 20px;
  display: flex;
  font-family: courier;
  font-weight: bold;
  height: 35px;
}

.box-mago {
  background-color: white;
}

.illustrations-img {
  width: 420px;
  background-color: #F5F5F5;
}

.illustrations-text {
  background-color: white;
  width: 350px;
  height: 125px;
  margin-left: 15px;
  color: #828282;
}

.Development {
  margin-top: 50px;
  border-radius: 8px;
  width: 420px;
  height: 275px;
  box-shadow: 5px 15px 15px #888888;
}

.Development-head {
  background-color: #F5F5F5;
  color: #4e73df;
}

.Development-head-box {
  display: flex;
  margin-left: 20px;
  font-family: courier;
  font-weight: bold;
  height: 35px;
}

.development-text {
  background-color: white;
  width: 320px;
  height: 150px;
  margin-left: 15px;
  margin-top: 25px;
  color: #828282;
}

/* Mobile Styles */
@media only screen and (max-width: 515px) {
  .sidebar {
    display: flex;
    box-sizing: border-box;
    flex-flow: wrap;
    align-items: center;
    background-color: #4e73df;
    color: #ffffff;
    width: 100px;
    height: 100vh;
  }

  .dashboard {
    width: 100px;
    height: 3vh;
    flex-flow: wrap;
    justify-content: center;
  }

  .interface {
    width: 100px;
    justify-content: center;
  }

  .addons {
    width: 100px;
    justify-content: center;
    text-align: center;
  }

  .tables, .charts, .pages, .utilities {
    width: 100px;
    flex-flow: wrap;
    justify-items: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

  .component {
    width: 100px;
    flex-flow: wrap;
    justify-items: center;
    flex-direction: column;
    margin-left: 2px;
    margin-right: 10px;
    text-align: center;
  }

  .fa-screwdriver, .fa-cog, .fa-tachometer-alt, .fa-smile-wink, .fa-folder, .fa-chart-bar, .fa-table {
    margin-right: 30px;
    margin-left: 30px;
  }

  .sbadmin {
    flex-flow: wrap;
    width: 100px;
    justify-content: center;
    height: 5vh;
  }

  .hideadmin {
    display: none;
  }

  .fa-angle-right {
    visibility: hidden;
  }

  .headersearch {
    display: none;
  }

  .fa-bars {
    color: #4e73df;
    margin-left: 25px;
  }

  .fa-search {
    color: #d1d3e2;
    margin-left: 25px;
  }

  .collapsible {
    background-color: #4e73df;
    color: white;
    cursor: pointer;
    width: 30px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .content {
    width: 200px;
    height: 80px;
    display: none;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    color: black;
    margin: 0;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .sidebar {
    display: flex;
    box-sizing: border-box;
    flex-flow: column;
    align-items: center;
    background-color: #4e73df;
    color: #ffffff;
    width: 250px;
    height: 1448px;
  }

  .sbadmin {
    justify-content: space-between;
    height: 10vh;
    padding-left: 5px;
  }

  .headerminisearch {
    display: none;
  }

  .addons, .pages, .charts, .tables, .utilities, .interface, .dashboard {
    width: 250px;
    height: 6vh;
    padding-left: 25px;
    justify-items: left;
    justify-content: left;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  .component {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    min-height: 6vh;
    padding-left: 18px;
    justify-items: left;
    justify-content: left;
    align-items: center;
    margin-top: 4px;
  }

  .spancomponent {
    padding-right: 80px;
  }

  .spamcomponentutilities {
    padding-right: 120px;
  }

  .spamcomponentpages {
    padding-right: 130px;
  }

  .fa-screwdriver, .fa-cog, .fa-tachometer-alt, .fa-smile-wink, .fa-folder, .fa-chart-bar, .fa-table {
    margin-right: 8px;
  }

  .collapsible {
    background-color: #4e73df;
    color: white;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active, .collapsible:hover {
    background-color: #4e73df;
  }

  .content {
    width: 200px;
    height: 80px;
    display: none;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    color: black;
    margin: 0;
  }

  .indiv {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 0;
    margin-right: 0;
  }
  .headerfillblue {
    height: 50px;
    width: 250px;
    background-color: #4e73df;
  }
}

/*# sourceMappingURL=styles-patrick.css.map */
